@charset "UTF-8";

colgroup {
    display: table-column-group;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.best_table td {
    padding-top: 50px;
    vertical-align: top;
}

.best_no_area {
    text-align: center;
    padding-bottom: 20px;
}

.best_no_area img {
	vertical-align: middle;
	margin: 0 0 0 100px;
}

.best_item_info {
    text-align: center;
    padding: 0 45px;
}

.best_item_info div, .best_item_price span {
    color: #333;
}
.best_item_name {
	font-size: 15px;
    padding: 10px 0;
}

.best_item_price {
	font-size: 15px;
}

.best_item_price span {
	font-size: 15px;
}

.td_center {
    padding: 0 20px;
}

