@charset "utf-8";
/* Foodnamoo Sloth */

/*
 quick menu
 * */
#hd_qnb {
}

#hd_qnb .qnb_area {
}

#hd_qnb div .qnb_brand {
	position: relative;
	float: left;
}

#hd_qnb div .qnb_my {
	float: right;
}

#hd_qnb div .qnb_my a {
	font-size: 12pt;
	color: #787878;
	font-weight: bold;
	top: 10%;
	position: relative;
}

#headerWrap {
	width: 100%;
	position: relative;
	overflow: hidden;
}

#h_header {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1100px;
	margin: 0 auto;
	margin-left: -550px;
}

#h_ul {
	margin-top: 130px;
	font-weight: bold;
	list-style: none;
}

#h_li {
	margin-top: 10px;
}

#h_li>a {
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
}

#h_li>a:hover {
	color: #3162C7;
}

#h_container {
	margin: 0 auto;
	width: 1000px;
}

#container {
	width: 1100px;
}

.basic_table {
	border-spacing: 0px;
	border-collapse: collapse;
	border: 0px;
}

.basic_table100 {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	border: 0px;
	border-spacing: 0px;
}

/*장바구니*/
.my_cart {
	width: 1000px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.brand_logo {
	margin-left: 35px;
	margin-bottom: 5px;
}

.cart_wrap {
	width: 1000px;
	margin: 0 auto;
}

.cart_sub_title {
	margin-left: 35px;
	margin-bottom: 20px;
}

.cart_table_title {
	width: 930px;
	margin: 0 auto;
}

#sod_bsk_list {
	position: relative;
}

.h_sod_bsk {
	width: 930px;
	margin: 20px auto;
	margin-top: 0;
	border-top: 0;
}

.tb_wrap table td.sod_info {
	width: 473px;
	border-right: 1px solid #ddd;
	border-left: 0;
}

.hsod_opt ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hsod_opt li {
	padding: 5px;
}

.tb_wrap table td {
	border-bottom: 1px solid #ddd;
	border-top: 0;
	padding: 15px;
}

.txt_bottom {
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	color: red;
}

/************string************************/
.bold {
	font-weight: bold;
}

.l_b_2 {
	width: 90px;
	border-right: 1px solid #ddd;
	text-align: center;
	font-size: 14px;
	color: #0085da;
}

.l_k_1 {
	font-size: 14px;
	color: #656565;
}

.x_r_1 {
	font-size: 26px;
	color: #dd1500;
}

.l_o_1 {
	font-size: 14px;
	color: #ff7101;
}

.m_k_1 {
	text-align: center;
	font-size: 12px;
	color: #656565;
}

.m_b_2 {
	font-size: 12px;
	color: #0085da;
}

.x_o_1 {
	font-size: 26px;
	color: #ff7101;
	font-size: 20px;
	text-align: center;
}

.x_k_1 {
	font-size: 26px;
	color: #656565;
	font-size: 16px;
	margin-top: 10px;
	text-align: center;
}

.m_o_1 {
	font-size: 12px;
	color: #ff7101;
}
/**************************************************/
.btn_submit {
	padding: 15px 40px;
	border: 0;
	background: #ed1b24;
	color: #fff;
	letter-spacing: -0.1em;
	cursor: pointer;
	font-size:1.2em;
	margin-right: 5px;
}

.hcostTd {
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	text-align: center;
	background: #F9F9F9;
}

.costL {
	color: #666666;
	font-weight: bold;
	font-size: 9pt;
}

.costR {
	color: #dd1500;
	font-weight: bold;
	font-size: 9pt;
}

/*
주문하기
*/
.h_sod_frm {
	width: 1100px;
	padding: 0;
	padding-top: 20px;
	margin: 0;
	background: #e1e1e1;
	padding-bottom: 50px;
}

.buy_logo {
	margin-left: 60px;
	margin-bottom: 10px;
}

.buy_wrap {
	width: 980px;
	padding: 0;
	margin: 0 auto;
}

.buy_content_wrap {
	background: #FFFFFF;
	margin: 0 auto;
	padding-top: 20px;
	width: 980px;
}

.buy_div_wrap {
	background: #FFFFFF;
	margin: 0 auto;
	width: 903px;
	padding-bottom: 15px;
}

.buy_table {
	width: 903px;
	border-spacing: 0;
	border-collapse: collapse;
	border: 0;
}

.buy_table tbody tr th {
	height: 40px;
	border: 2px solid #cccccc;
	text-align: center;
	font-weight: bold;
	color: #444;
	font-size: 14px;
}

.buy_table tbody tr th.buy_col_1 {
	border-left: 0;
	background: #e1e1e1;
}

.buy_table tbody tr th.buy_col_2 {
	width: 147px;
	background: #e1e1e1;
}

.buy_table tbody tr th.buy_col_3 {
	border-right: 0;
	background: #e1e1e1;
}

.buy1 td {
	height: 40px;
	border: 2px solid #cccccc;
	text-align: center;
	font-weight: bold;
	color: #656565;
	font-size: 14px;
	padding: 10px;
}

.buy_table tbody tr td.buy_col_1 {
	width: 130px;
	border-left: 0;
	border-right: 0;
}

.buy_table tbody tr td.buy_col_2 {
	width: 405px;
	border-left: 0;
	text-align: left;
}

.buy_table tbody tr td.buy_col_last {
	border-right: 0;
}

.buy2 {
	width: 903px;
	height: 135px;
	/*background: url('http://foodnamoo.cafe24.com/brand/shop/img/buy_1.jpg') no-repeat;*/
	background:
		url('../../../../foodnamoo1.cafe24.com/shop/img/foodnamoo/buy_1.html')
		no-repeat;
	margin-top: 40px;
}

.buy2 td {
	height: 110px;
	padding-top: 30px;
	text-align: center;
	width: 225px;
}

.buy3 {
	padding: 0;
	width: 903px;
	margin-top: 40px;
}

.info1 {
	width: 100px;
	padding: 7px 13px;
	border: 1px solid #e9e9e9;
	border-left: 0;
	background: #f7f7f7;
	font-weight: bold;
	color: #444;
}

.info1_1 {
	padding: 7px 10px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	width: 802px;
}

.buy5 {
	padding: 0;
	width: 903px;
	margin-top: 20px;
}

/*
주문완료
*/
.sod_bsk_cnt {
	background: #ddd;
	color: #000;
}

/*
 마이페이지 > 구매하기
*/
.smb_my {
	background: #f0f0f0;
	width: 1000px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.my_wrap div.my_content {
	margin-top: 30px;
}

.my_title {
	width: 988px;
	margin: 0px auto;
}

.my_wrap {
	width: 988px;
	margin: 0px auto;
	/* background-image:
		url("http://foodnamoo.cafe24.com/brand/shop/img/dot.gif"); */
	background-image:
		url("../../../../foodnamoo1.cafe24.com/shop/img/foodnamoo/dot.html");
}

.tab_in1 {
	border-right: 2px solid #cccccc;
	border-bottom: 2px solid #b1b1b1;
	width: 205px;
	height: 78px;
	padding: 10px 20px;
	vertical-align: top;
}

.tab_cupon {
	border-left: 2px solid #cccccc;
}

.wrap_ul {
	width: 928px;
	padding: 0;
	margin: 0 auto;
}

.my_wrap ul, #sod_v ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.ul1 {
	width: 928px;
	position: relative;
	list-style: none;
	height: 44px;
	padding: 0;
}

.ul1 li {
	position: absolute;
	cursor: pointer;
}

div.my_content div.wrap_ul ul.ul1 li {
	top: 0px;
}

div.my_content div.wrap_ul ul.ul1 li img {
	vertical-align: top;
}

div.my_content div.wrap_ul ul.ul1 li.sub_tab1, #infoc_4tabwrap div.wrap_ul ul.ul1 li.sub_tab1
	{
	left: 0px;
}

div.my_content div.wrap_ul ul.ul1 li.sub_tab2, #infoc_4tabwrap div.wrap_ul ul.ul1 li.sub_tab2
	{
	left: 155px;
}

div.my_content div.wrap_ul ul.ul1 li.sub_tab3, #infoc_4tabwrap div.wrap_ul ul.ul1 li.sub_tab3
	{
	left: 310px;
}

div.my_content div.wrap_ul ul.ul1 li.sub_tab4 {
	left: 464px;
}

div.my_content div.wrap_ul ul.ul1 li.sub_tab5 {
	left: 618px;
}

div.my_content div.wrap_ul ul.ul1 li.sub_tab6 {
	left: 773px;
}

.img_on {
	display: block;
}

.img_off {
	display: none;
}

#infoWrap {
	position: relative;
	width: 930px;
	height: 1661px;
	padding: 0;
	margin: 0 auto;
	margin-top: 20px;
}

.info_sub_ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#od_tb1_d1 {
	margin-bottom: 20px;
}

li.o_num1 {
	margin-top: 10px;
}

li.o_num2 {
	margin-top: 3px;
}

li.o_num3 {
	margin-top: 5px;
}

div.od_line {
	width: 140px;
	height: 2px;
	background: #a1a1a1;
	margin: 0 auto;
}

div.o_price {
	margin-top: 20px;
}

#infoWrap #od_td1 {
	border-left: 0;
	border-top: 0;
	width: 169px;
	background: #f8f8f9;
}

#od_table td {
	border: 1px solid #a1a1a1;
	text-align: center;
	padding: 10px 0;
}

#od_table td#od_td2 {
	border-right: 0;
	border-top: 0;
}

#od_intable {
	width: 100%;
	margin-top: 0;
}

#od_intable td {
	border: 0;
}

#od_intable tr td.od_thum {
	width: 180px;
	border-bottom: 0px;
}

#od_intable tr td.od_info {
	width: 319px;
	border-right: 1px solid #a1a1a1;
	border-bottom: 0px;
}

#od_intable tr td.od_info div.txt20 {
	font-size: 20px;
}

#od_intable tr td.od_info div.txt18 {
	font-size: 18px;
	margin-top: 10px;
	padding-right: 15px;
}

#od_intable tr td.od_buy {
	width: 120px;
	border-right: 1px solid #a1a1a1;
	border-bottom: 0px;
	border-top: 0;
}

#ad {
	margin-left: 10px;
	margin-right: 10px;
	background: #ffebda;
	padding: 10px 15px;
	line-height: 15px;
	text-align: left;
}

#infoWrap #od_td5, #sod_v #od_td5 {
	border-right: 0;
	background: #f8f8f9;
}

#od_td5  img {
	
}

.my_bottom {
	width: 988px;
	margin: 0px auto;
	padding: 0px;
}

.my_bottom img {
	vertical-align: top;
}

#infoWrap div.my_info_end {
	height: 50px;
}

.my_info_end {
	width:100%;
	text-align: center;
}

.home_bt {
	margin: 20px auto;
	display: inline-block;
	padding: 0 10px;
	height: 30px;
	border: 0;
	background: #ff7101;
	color: #fff;
	line-height: 2em;
	cursor: pointer
}
/*
 마이페이지 > 취소/환불/교환 
*/
#od_table tr td.od_c_cont {
	width: 546px;
}

#od_table tr td.od_c_state {
	border-top: 0px;
}

/*
 마이페이지 > 할인쿠폰 
*/
#cp_table td {
	border: 1px solid #a1a1a1;
	text-align: center;
	padding: 10px 0;
}

#cp_table td#cp_td1 {
	color: #656565;
	font-weight: bold;
	border-left: 0;
	background: #f0f0f0;
	width: 169px;
	border-top: 0;
}

#cp_table td#cp_td2 {
	color: #656565;
	border-top: 0;
	width: 499px;
}

#cp_table td#cp_td3 {
	color: #656565;
	border-top: 0;
	width: 129px;
}

#cp_table td#cp_td4 {
	color: #ff7101;
	font-weight: bold;
	border-top: 0;
	border-right: 0;
}

/*
 마이페이지 > 적립금 
*/
div.mt20 {
	margin-top: 20px;
}

#infoc_c1 table tr td.pt_title, #infoc_c2 table tr td.pt_title,
	#infoc_c3 table tr td.pt_title {
	border: 1px solid #9ea39d;
	height: 38px;
	text-align: center;
	margin: 0;
	padding: 0;
	background: #fe7d05;
}

.pt_title * {
	margin: 0 auto;
	text-indent: -99999px;
	background:
		url('../../../../foodnamoo1.cafe24.com/shop/img/foodnamoo/point_title.html')
		no-repeat;
	height: 17px;
}

.pt_title_date {
	width: 44px;
	background-position: 0px 0px;
}

.pt_title_itemnm {
	width: 44px;
	background-position: 0px -17px;
}

.pt_title_price {
	width: 44px;
	background-position: 0px -34px;
}

.pt_title_usept {
	width: 72px;
	background-position: 0px -51px;
}

.pt_title_addpt {
	width: 73px;
	background-position: 0px -68px;
}

#infoc_c1 table tr td.pt_date, #infoc_c2 table tr td.pt_date, #infoc_c3 table tr td.pt_date
	{
	width: 16%;
	border-left: 0;
	text-align: center;
}

#infoc_c1 table tr td.pt_pna, #infoc_c2 table tr td.pt_pname, #infoc_c3 table tr td.pt_pname
	{
	width: 46%;
}

#infoc_c1 table tr td.pt_price {
	width: 114px;
	text-align: center;
}

#infoc_c2 table tr td.pt_price, #infoc_c3 table tr td.pt_price {
	text-align: center;
}

#infoc_c1 table tr td.pt_add_p {
	text-align: center;
}

#infoc_c2 table tr td.pt_add_p {
	text-align: center;
	border-right: 0px;
}

#infoc_c1 table tr td.pt_use_p, #infoc_c3 table tr td.pt_use_p {
	color: #dd1500;
	border-right: 0;
	text-align: center;
	padding: 10px 0;
}

#infoc_4tabwrap td {
	border: 1px solid #a1a1a1;
	border-top: 0;
	padding: 10px;
	word-break: break-all;
}

.pt_tot td table {
	width: 304px;
}

.pt_tot td table tr th {
	border: 1px solid #a1a1a1;
	height: 35px;
	background: #ffe6c6;
}

/*
 마이페이지 > 장바구니 
*/
.my_cart2 {
	width: 930px;
	margin-top: 20px;
}

.my_cart2 tr:first-child {
	height: 40px;
}

#sod_bsk_act {
	margin-top: 30px;
}

/*
 마이페이지 > 1:1문의 
*/
.tbl_head05 td {
	padding: 8px 0;
	line-height: 1.5em;
	word-break: break-all;
}

.tbl_head05 img {
	max-width: 100%;
}

/* 자료 없는 목록 */
.empty_table {
	padding: 50px 0 !important;
	text-align: center;
	border: 0;
}

.empty_list {
	padding: 20px 0 !important;
	text-align: center
}
/*마이페이지 끝*/

/*쿠폰*/
#cp_frm {
	z-index: 10000;
	position: absolute;
	top: 255px;
	left: 300px;
	padding: 20px;
	width: 500px;
	height: auto !important;
	max-height: 500px;
	border: 1px solid #000;
	background: #FFFFFF;
	overflow-y: scroll;
}

/*게시판 페이징*/