@charset "UTF-8";
#order_wrap .order_title_con {
    border-bottom: 1px solid #e6e6e6;
}

#order_wrap .order_title_con h2 {
	color: #333;
    font-size: 32px;
    font-weight: 500;
    padding: 0 0 20px;
}

#search {
	display: inline;
	float: right;
	padding: 10px 0 0 5px;
}

option {
	font-size: 13px;
}

#order_wrap .order_content_box {
    padding: 30px 0 0;
}

#order_wrap .order_content_box .total {
    font-size: 14px;
    padding: 0 5px 20px;
}

#order_wrap .order_content_box .total strong {
    font-size: 14px;
}

#order_wrap .order_content_box .item_box_con .product {
    float: left;
    width: 300px;
    margin: 0 50px 80px 0;
}

a:link, a:visited {
    text-decoration: none;
}

#order_wrap .order_content_box .item_box_con .product img {
    border-radius: 5px;
}

#order_wrap .order_content_box .item_box_con .prodcut .product_info_area {
    padding: 25px 5px 0;
}

#order_wrap .order_content_box .item_box_con .product .product_info_area .product_name {
    font-size: 16px;
    color: #222;
    min-height: 52px;
    max-height: 52px;
    line-height: 26px;
    overflow: hidden;
}

#order_wrap .order_content_box .item_box_con .product .product_info_area .product_price {
    font-size: 20px;
    padding-top: 12px;
}

#order_wrap .order_content_box .item_box_con .product .product_info_area .product_price span {
    font-size: 18px;
    font-weight: 500;
    color: #222;
}

#order_wrap .order_content_box .total {
    font-size: 14px;
    padding: 0 5px 20px;
}

#order_wrap .order_content_box .item_box_con .product {
    float: left;
    width: 300px;
    margin: 0 50px 80px 0;
}

#order_wrap .order_content_box .item_box_con .product .product_info_area {
    padding: 25px 5px 0;
}

a:link, a:visited {
    text-decoration: none;
}

#order_wrap .order_content_box .item_box_con .product .product_info_area .product_name {
    font-size: 16px;
    color: #222;
    min-height: 52px;
    max-height: 52px;
    line-height: 26px;
    overflow: hidden;
}

#order_wrap .order_content_box .item_box_con .product .product_info_area .product_price {
    font-size: 20px;
    padding-top: 12px;
}

#order_wrap .order_content_box .item_box_con .product .product_info_area .product_price span {
    font-size: 18px;
    font-weight: 500;
    color: #222;
}